<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>欢迎来到测试网站</h1>

    <h2>
      <span class="red-sketch-underline">本网站主要是给购买了<a href="https://lmzdx.com/archives/12" target="_blank">用Ruby on rails从零做社交网站</a>课程的人做的演示网站。</span>
    </h2>
	
	<h2>
		如果你没有购买，可以注册后玩一下，这就是一个你自己能控制的twitter，微博。
	</h2>
	
	<h2>注册后请到邮件里，垃圾邮件里找找激活链接。</h2>
	
	<h2>至于为什么做这个项目，详细的解释在<%= link_to "这里", help_path %>。</h2>

    <%= link_to "注册", signup_path, class: "btn btn-lg btn-success" %>
  </div>

  <%= link_to image_tag("home1.svg", alt: "home1", class: "img-responsive") %>
  <%= link_to image_tag("home2.svg", alt: "home2", class: "img-responsive") %>
  <%= link_to image_tag("home3.svg", alt: "home3", class: "img-responsive") %>
  <%= link_to image_tag("home4.svg", alt: "home4", class: "img-responsive") %>
  <%= link_to image_tag("home5.svg", alt: "home5", class: "img-responsive") %>
<% end %>