<% provide(:title, "Log in") %>
<h1>登录</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, '电子邮件' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, '密码' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>记住登录信息</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>新用户? <%= link_to "亲自注册一个试试吧", signup_path %></p>
  </div>
</div>