<!DOCTYPE html>
<!--
  __________________________________________________________________
 /_________________________________________________________________/|\
 l                                                                 || \
 l   ,-,__.              #            #                  #         ||
 l  { / ,__\                                                       ||
 l { `}'- -/    #               #             #                  # ||
 l {`}'\ o/                                                        ||
 l  U__J  L__ 老师敲着黑板说：学编程没有那么难, 只要你有兴趣, 肯定是能学会的 ||
 l .'   `' ._`.                                                    ||
 l/ /; o )  o) \        #                #                 #       ||
 / / \`~' `;'} :                                                   ||
: {   )    (/ /                     #                 #            ||
 \ \ /   .  )/                                                     ||
 l\ Y      l/                #                 #              #    ||
 l Y    \#/ \                                                      ||
 l {     \  | .....................................................||..
 l  \     \ |                                                      ||
 l   `.    \;                                                      ||
 l     `.   \                 兴趣是最好的老师!                       ||
 l       |)  :                                                     ||
.l......./  /......................................................|'..
         : /
        / /{
       / /_`-,
      (_ \_~^^
        `~~ by 绿帽子大学校长
-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
